body {
  font-family: "Verdana", sans-serif;
  background-color: #F2F6D0;
}

img.preview {
  height: 450px;
  width: auto;
}

h1,
h2 {
  color: #443627;
}

ul li::marker,
ol li::marker,
ol li {
  color: #D98324;
}
